

.nav-panel {
    height: 100%;
    position:fixed;
    top:0;
    left: 0;
}

.nav-link {
    color: white;
}

.navbar-brand {
    color:white;
    padding: 20px;
}

.nav-item {
    padding: 0px 5px;
}
