<div class='main-nav'>
    <div class='navbar navbar-dark bg-dark flex-column'>
        <div class='navbar-header'>            
            <a class='navbar-brand' [routerLink]="['/home']">FMP2 Common Tasks</a>
        </div>
        <div class='clearfix'></div>
            <ul class='nav flex-column'>
                <!--<li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/counter']">
                        <span class='glyphicon glyphicon-education'></span> Counter
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/fetch-data']">
                        <span class='glyphicon glyphicon-th-list'></span> Fetch data
                    </a>
                </li>-->
                <li [routerLinkActive]="['link-active']"class="nav-item">
                    <a [routerLink]="['/features']">
                        Features
                    </a>
                </li>
            </ul>
    </div>
</div>
