<div class="nav-panel bg-dark">
    <ul class="nav flex-column  nav-pills">
        <li class="nav-item">
            <a class="navbar-brand nav" [routerLink]="['/home']">FMP2 Common Tasks</a>
            <!--<a class="nav-link active" href="#">Active</a>-->
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/features']" [routerLinkActive]="['active']">Features</a>

        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/counter']" [routerLinkActive]="['active']">
                <span class='glyphicon glyphicon-education'></span> Counter
            </a>
        </li>
    </ul>
</div>



    <!--<div class='main-nav navbar bg-dark' bg-dark>
        <div class='navbar-header'>
            <a class='navbar-brand' [routerLink]="['/home']">FMP2 Common Tasks</a>
        </div>
        <a [routerLink]="['/features']" [routerLinkActive]="['link-active']">Features</a>
    </div>-->
    <!--<div class='main-nav'>
        <div class='navbar navbar-dark bg-dark flex-column'>
            <div class='navbar-header'>
                <a class='navbar-brand' [routerLink]="['/home']">FMP2 Common Tasks</a>
            </div>
            <div class='clearfix'></div>
            <a [routerLink]="['/features']">
                Features
            </a>
            <!--<ul class=' flex-column'>-->
    <!--<li [routerLinkActive]="['link-active']">
        <a [routerLink]="['/home']">
            <span class='glyphicon glyphicon-home'></span> Home
        </a>
    </li>
    <li [routerLinkActive]="['link-active']">
        <a [routerLink]="['/counter']">
            <span class='glyphicon glyphicon-education'></span> Counter
        </a>
    </li>
    <li [routerLinkActive]="['link-active']">
        <a [routerLink]="['/fetch-data']">
            <span class='glyphicon glyphicon-th-list'></span> Fetch data
        </a>
    </li>-->
    <!--<li [routerLinkActive]="['link-active']" class="nav-item">

                </li>
            </ul>
        </div>
    </div>-->
